nav {
    box-shadow: 0 3px 8px #6f00ca; 
}

.container {
    margin-top: 20px;
}

.main-form {
    margin-top: 20px;
}

.form-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    position: relative;
}

.slider {
    flex-grow: 1;
    margin-left: 20px;
}

.slider-value {
    max-width: 180px;
    margin-left: 50px;
}

#sumValue {
    position: relative;
}

#currency-text {
    position: absolute;
    left: 1200px;
}

#percent {
    margin-left: 15px;
}

.calc-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#left-form {
    flex-grow: 1;
    margin-right: 30px;
}

.card {
    flex-grow: 1;
    height: 200px;
    margin: 30px 0 10px 0;
    transition: 2s ease-in;
}

#sum-min, #sum-max, #term-min, #term-max {
    position: absolute;
    top: 35px;
    font-size: 12px;
}

#sum-min {
    left: 59px;
}

#term-min {
    left: 70px;
}

#sum-max, #term-max {
    right: 230px;
}

/* #investments::before {
    content: "2 роки,";
    color: #9f2aff;
    font-size: 12px;
    position: absolute;
    right: 55px;
    top: 52px;

} */

#investments-info {
    color: #9f2aff;
    font-size: 12px;
}

/* @media (max-width: 768px) {
    h3 {
        font-size: 18px;
    }
} */

